*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: helvetica, sans-serif;
  background-color: #49394C;
  align-content: center;
  margin:3px;

}
h1{
  font-weight:bold;
  margin: 10px;
  color: white;
  text-align: center;

}
#menuItem{
  padding: 10px;

}
#box{
  background-color:#F7EFEA;
  padding-left: 15px;
  padding-bottom: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);

}
#content{
  clear: right;
  padding-right: 15px;

}
.title{
  color: #49394C;
  text-align: center;
  float: right;
  top:0;
  right:0;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-color: #49394C;
  border-top: none;
  border-right: none;
}
#t1{
  background-color: #77A7A8;
}
#t2{
  background-color: #FFB30F;
}
#t3{
  background-color: #CBE236;
}

/* Desktop */
@media (min-width: 992px){
.desktop {
  width: 33.33%;
  float: left;
}
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
.tablet {
  width: 50%;
  float: left;
}
 .fullTab{
   width: 100%;
   clear:left;
 }
}
